
body {
  margin: 0;
}
#jeopardy {
  align-self: auto;
  text-align: center;
  font-size: 9pt;
  background-color: #4d317a;
  color: white;
  border-collapse: collapse;
}

#jeopardy th,
#jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
  background-color: #5f3c99;
}

#restart {
  position: absolute;
  background-color: white;
  text-align: center;
  line-height: 15px;
  color:#4d317a;
  border: 4px solid #4d317a; 
}

h1 {
  margin-bottom: 5px;
  margin-top: 0;
    padding: 60px;
    text-align: left;
    background: #4d317a;
    color: white;
    font-size: 50px;
    font-family: 'Secular One', sans-serif;
}

#x {
      position: relative;
      margin: 10px auto;
      width: 50%;
      background-color: white;
      border-radius: 40px;
}
